
<mat-form-field appearance="outline">
  <input matInput placeholder="first name" [(ngModel)]="firstName">
</mat-form-field>
<mat-form-field appearance="outline">
  <input matInput placeholder="last name" [(ngModel)]="lastName">
</mat-form-field>
<mat-form-field appearance="outline">
  <input matInput placeholder="ID" [(ngModel)]="id">
</mat-form-field>

<button mat-button color="primary" (click)="createSoldier()">ADD SOLDIER</button>

<ul *ngIf="soldiers">
  <li *ngFor="let soldier of soldiers | async">
    {{soldier.firstName}} - {{soldier.lastName}}
    <button mat-button color="primary" (click)="deleteSoldier(soldier.id)">delete</button>
    <button mat-button color="accent" (click)="editSoldier()">edit</button>
    <button mat-button color="warn" (click)="saveSoldier()">save</button>
  </li>
</ul>


<router-outlet></router-outlet>
