<div style="width:100%; height:100%;" fxLayout="column" fxLayoutAlign="center center">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>חיפוש</mat-label>
      <input [(ngModel)]="query" matInput placeholder="חיפוש" (keyup)="getSoldier()">
    </mat-form-field>
  </div>

  <div>

  </div>
  <mat-form-field appearance="outline">
    <input matInput placeholder="first name" [(ngModel)]="firstName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput placeholder="last name" [(ngModel)]="lastName">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput placeholder="ID" [(ngModel)]="id">
  </mat-form-field>
  
  <button mat-button color="primary" (click)="createSoldier()">ADD SOLDIER</button>
  
  <ul *ngIf="soldiers">
    <li *ngFor="let soldier of soldiers | async">
      <div *ngIf="isValid(soldier)">
        {{soldier.firstName}} {{soldier.lastName}}
        <button mat-button color="primary" (click)="deleteSoldier(soldier.id)">delete</button>
        <button mat-button color="accent" (click)="editSoldier()">edit</button>
        <button mat-button color="warn" (click)="saveSoldier()">save</button>
      </div>
    </li>
  </ul>
</div>

